@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
--White: hsl(0, 0%, 100%);
--LightGray: hsl(212, 45%, 89%);
--GrayishBlue: hsl(220, 15%, 55%);
--DarkBlue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background-color: var(--LightGray);
}

.main-container{
    width: 320px;
    height: 500px;
    background-color: var(--White);
    margin: 60px auto;
    border-radius: 16px;
    overflow: hidden;
    padding: 16px;
    transition: 300ms;
    
}
.main-container:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px;
    transition: 300ms;
    margin-top: 50px; /*elevation*/

}
.qr{
    background-image: url(./images/image-qr-code.png);
    width: 100%;
    height: 288px ;
    background-size: cover;
    border-radius: 16px;
    animation: UpCenter 500ms none; /*animation only start*/
}
.title{
    margin-top: 20px;
    text-align: center;
    color: var(--DarkBlue);
    animation: LeftCenter 500ms none;
}
.paragraph{
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    color: var(--GrayishBlue);
    animation: RightCenter 500ms none;
}


/*footer*/
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}
.attribution a { 
    color: hsl(228, 45%, 44%);  
}

/*keyframe*/

@keyframes UpCenter {
    0%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(0px) ;
    }
}
@keyframes LeftCenter {
    0%{
        transform: translateX(-500px) ;
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes RightCenter {
    0%{
        transform: translateX(500px); 
    }
    100%{
        transform: translateX(0px); 
    } 
}